<div class="content">
    <div class="columns">
        <div class="column is-8">
            <p>
                <a href="/about.html">关于偶得</a> | <a href="/agreement.html">用户协议</a> | <a href="#">常见问题</a> | <a href="#">意见反馈</a> | <a href="#">联系方式</a>
            </p>
            <p>
                &copy; @DateTime.Now.Year <a href="/">偶得 imotto.net</a> 版权所有 <a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备14026549号-1</a>
            </p>
        </div>
        <div class="column is-4">
            <p>下载偶得App:</p>
            <p>
                <a class="button is-info is-large" title="前往App Store下载偶得App IOS版" href="https://itunes.apple.com/app/id1191145702">
                    <img src="~/images/btn-app-store.png" alt="下载偶得App IOS版">
                </a>
            </p>
            <p>
                <a class="button is-success is-large btn-anzhuo" title="下载偶得App Android版" onclick="btn_oncl()" href="javascript:;">
                    <img src="~/images/btn-app-android.png" alt="下载偶得App Android版">
                </a>
            </p>
        </div>
    </div>

</div>
