<div class="nav-left">
    <a class="nav-item" href="../index.html">
        <img src="~/images/logo_horizontal.png" style="max-height:32px" alt="Description">
    </a>
</div>
<span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
</span>
<div class="nav-right nav-menu">
    <a class="nav-item is-tab is-active"> 作品 </a>
    <a class="nav-item is-tab"> 珍藏 </a>
    <a class="nav-item is-tab">App</a>
    <span class="nav-item">
        @Html.Partial("_LoginPartial")
    </span>
</div>
